*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}


/* header */




/* header */

/* ****************** */

/* hero section vidoe */


/* hero section vidoe */

/* ****************** */

/* favorite and latest post */

/* favorite and latest post */

/* ****************** */

/* map */


/* map */


/* ****************** */

/* blog */


/* blog */


/* ****************** */

/* about  */

/* about */

/* ****************** */

/* footer */


/* footer */