/* Article Design */


body {
  font-size: 1.2rem;
  overflow-x:hidden;
  
}

article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 3rem;
}

.first-paragraph {
  padding: 2rem;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.img-container {
  width: 400px;
}

.img-container img {
  overflow: hidden;
}

.first-paragraph p {
  font-size: 1.5rem;
}

.paragraphs {
  padding: 2rem;
  display: flex;
  gap: 3rem;
}

p {
  font-size: 1.5rem;
  flex: 1;
}

.second-paragraph {
  display: flex;
  padding: 2rem;
  gap: 3rem;
}


@media screen and (max-width: 700px) {
  .first-paragraph, .second-paragraph {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 394px) {
  .paragraphs {
    flex-direction: column;
  }
}


/* Special Partners section */

.special-partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.special-partners h2 {
  font-size: 3rem;
  font-family: PlusJakartaBold; 
}

.partners-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}