* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  text-transform: initial;
  max-width: 1920px;
  margin: 0 auto;
}
.container {
  padding: 2rem;
}

/* <!-- create header --> */

/* <!-- create header --> */

/* client review section */
#review-section {
  /* display: flex; */
  text-align: center;
  margin-bottom: 4rem;
}
.review {
  margin-bottom: 2.5rem;
}
.client-review {
  color: #4737ff;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.review h3 {
  font-size: 20px;
  color: #151d21;
  margin-bottom: 15px;
}
.review p {
  font-size: 16px;
  color: #737373;
  line-height: 1.5;
}
/* card review */
.review-cards {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.card-item {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
}
.card-item img {
  width: 80%;
  height: 80%;
}

/* about section */
#about-section {
  background-color: #4372eb;
}
.about-container-image {
  width: 375px;
  margin-bottom: 2rem;
}
.about-text {
  align-items: center;
  color: white;
  font-size: 2.5rem;
  margin-left: 2rem;
}
.about-text h1,
.about-text p {
  margin-bottom: 3rem;
}

.about-text button {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border: none;
  background-color: #4372eb;
  color: white;
  padding: 2rem;
  font-size: 1.75rem;
}
.ArrowRight {
  margin-left: 1rem;
  margin-top: 0.25rem;
}

@media only screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
  .review-cards {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .card-item img {
    width: 50%;
    height: 50%;
  }
  .review-cards {
    width: 80%;
    margin-left: 14rem;
    gap: 4rem;
  }
  .card-item {
    padding: 3rem;
  }

  #about-section {
    width: 85%;
    margin-left: 10rem;
    border-radius: 1rem;
    padding-top: 2rem;
  }
  .about-container {
    position: relative;
  }
  .about-container-image {
    position: absolute;
    top: -40px;
    right: -0.3%;
    height: 398.6px;
  }
  .about-text {
    width: 35%;
    margin-left: 7rem;
  }
  .about-text h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }
}
