 
body{
    font-size: 14px;
    text-transform: initial;
    
    overflow-x:hidden;
    width: 100vw;
    height: 100vh;

}
.container {
  padding: 0 2rem;
}
/* <!-- create header --> */
nav {
  padding: 0.5rem 0;
}
.first-nav .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
.first-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.res {
  display: none;
}
.nav-buttom{
    display: none;
}

/* Desktop header */

@media (min-width: 1024px) {
  .container {
    padding: 0 3rem;
  }
  nav{
    padding: 0;
  }

  nav .navbar{
    border-bottom: 1px solid var(--third-font-color);

    padding: 1rem 0;
  }
  .first-nav {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
  }
  .first-nav .logo {
    display: flex;
    align-items: center;
    gap: 1rem;

  }
  .logo h1 {
    font-size: 2rem;
  }
  .res {
    display: flex;

    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .menu {
    display: none;
  }
  .inp-header {
    padding: 0.6rem 1.5rem;
    background-color: #f0f1f2;
    display: flex;
    gap: 1rem;
    width: 50%;
    border-radius: 1rem;
  }

  .inp-header input {
    width: 100%;
    padding: 0.7rem;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: transparent;
  }
  .sel-lang {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .sel-lang select {
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: var(--third-font-color);
    background-color: transparent;
  }
  .sel-location {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .location-img {
    width: 3.5rem;
    height: 3.5rem;
    background-color:#E3EBFD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .sel-location .location p {
    color: var(--third-font-color);

  }
  .sel-location .location select{
    outline: none;
    border: none;

   color: var( --blue-primary);
    background-color: transparent;
  }

  .nav-buttom{
    display: flex;
    justify-content: space-between;
    padding: 0.4rem 0;
  }
  .nav-buttom ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 0.4rem 0;
    margin-left: 9rem;


  }
  .nav-buttom ul li a{
    font-size: 1.5rem;
    font-family: PlusJakartaBold;
  }
  .nav-buttom ul li a.active{
    color:var(--blue-primary) ;

  }

  .sign-delate{
    display: flex;
    gap: 1rem;
    margin-right:2.5rem ;
  }
  .sign-delate .delate , .sign-in{
    width: 4rem;
    height: 4rem;
    background-color:var(--blue-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  .sign-in.active{
    background-color:#E3EBFD;

  }



}

/* <!-- create header --> */

/* client review section */
#review-section {
  /* display: flex; */
  text-align: center;
  margin-bottom: 4rem;
}
.review {
  margin-bottom: 2.5rem;
}
.client-review {
  color: #4737ff;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.review h3 {
  font-size: 20px;
  color: #151d21;
  margin-bottom: 15px;
}
.review p {
  font-size: 16px;
  color: #737373;
  line-height: 1.5;
}
/* card review */
.review-cards {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.card-item {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
}
.card-item img {
  width: 80%;
  height: 80%;
}

/* about section */
#about-section {
  background-color: #4372eb;
}
.about-container-image {
  width: 375px;
  margin-bottom: 2rem;
}
.about-text {
  align-items: center;
  color: white;
  font-size: 2.5rem;
  margin-left: 2rem;
}
.about-text h1,
.about-text p {
  margin-bottom: 3rem;
}

.about-text button {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border: none;
  background-color: #4372eb;
  color: white;
  padding: 2rem;
  font-size: 1.75rem;
}
.ArrowRight {
  margin-left: 1rem;
  margin-top: 0.25rem;
}

@media only screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
  .review-cards {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .card-item img {
    width: 50%;
    height: 50%;
  }
  .review-cards {
    width: 80%;
    margin-left: 14rem;
    gap: 4rem;
  }
  .card-item {
    padding: 3rem;
  }

  #about-section {
    width: 85%;
    margin-left: 10rem;
    border-radius: 1rem;
    padding-top: 2rem;
  }
  .about-container {
    position: relative;
  }
  .about-container-image {
    position: absolute;
    top: -40px;
    right: -0.3%;
    height: 398.6px;
  }
  .about-text {
    width: 35%;
    margin-left: 7rem;
  }
  .about-text h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }
}

.custom-video {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 2rem;
}

.custom-video custom-video-play {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}


/*Footer section*/
footer {
  background-color: #f9f9f9;
  width: 90%;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 20px;
  padding: 30px;
  color: #333;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: center;
}

/* Logo Section */
.single-column  {
  display: flex;
  flex-direction: column;
  font-size: small;
  gap: 10px;
}
.single-column img{
  width: 30px;
  height: 30px;
}

/* About Section */
.about, .support, .FAQ {
  flex-basis: 15%;
}
.about div, .support div, .FAQ div {
  font-family: PlusJakartaBold;
}


.about li, .support li, .FAQ li, .lower li {
  margin-bottom: 10px;
}



/* list in about, support, faq sections */
footer li {
  color: var(--third-font-color);
}

/* Lower Navigation Section */
.lower {
  flex-basis: 100%;
  
  border-top: 1px solid #e5e5e5;
 
  text-align: center;
}

.lower ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.lower ul li {
  margin: 0 15px;
  font-size: 14px;
  color: #9A9EA6;
}

@media (max-width: 767px) {
  .footer-links{
      flex-direction: column;
      align-items: start; 
      margin-bottom: 50px;
      justify-content: start;
      gap: 10px;
  }

  .about ul {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 1rem;
  }



@media (max-width:767px){
  .support ul {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 1rem;
  }
}
  .FAQ ul {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 1rem;
  }

  .lower ul {
      display: none;
}
}
